--find-links https://storage.googleapis.com/jax-releases/libtpu_releases.html
numpy
opencv-python
imageio
click
tqdm
pre-commit
pytest
jax[tpu]
chex
dm_pix
dm-haiku
huggingface_hub
flax
optax
termcolor
tensorboardX
flashbax
xtructure @ git+https://github.com/tinker495/xtructure.git
puxle @ git+https://github.com/tinker495/PuXle.git
