--find-links https://storage.googleapis.com/jax-releases/libtpu_releases.html
numpy
opencv-python
imageio
click
rich @ git+https://github.com/tinker495/rich.git
pre-commit
pytest
jax[tpu]
chex
dm_pix
dm-haiku
huggingface_hub
flax
optax
termcolor
tensorboardX
pydantic
xtructure @ git+https://github.com/tinker495/xtructure.git
puxle @ git+https://github.com/tinker495/PuXle.git
aim
plotly
pandas
seaborn
matplotlib
