numpy>=2.2.0
opencv-python
imageio
click
rich
pre-commit
pytest
jax[cuda12]
chex
dm_pix
dm-haiku
huggingface_hub
flax
optax
termcolor
tensorboardX
pydantic
xtructure @ git+https://github.com/tinker495/xtructure.git
puxle @ git+https://github.com/tinker495/PuXle.git
aim
