--find-links https://storage.googleapis.com/jax-releases/libtpu_releases.html
numpy
opencv-python
imageio
click
tqdm
pre-commit
pytest
jax[tpu]==0.5.2
chex
dm_pix
dm-haiku
huggingface_hub
flax
optax
termcolor
tensorboardX
xtructure @ git+https://github.com/tinker495/xtructure.git
