numpy
opencv-python
imageio
click
tqdm
pre-commit
pytest
jax
chex
dm_pix
dm-haiku
huggingface_hub
flax
optax
termcolor
tensorboardX
xtructure @ git+https://github.com/tinker495/xtructure.git
puxle @ git+https://github.com/tinker495/PuXle.git
